@page
@model MealPlanner.Pages_Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Recipe.RecipeCategory)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Recipe.RecipeCategory.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Recipe.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Recipe.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Recipe.TimeNeeded)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Recipe.TimeNeeded)
            </dd>

        </dl>
        <div>
            <h5>Instructions</h5>
            <p>@Model.Recipe.Instructions</p>
        </div>
    </div>
    <div class="col">
        <h5>
            @Html.DisplayNameFor(model => model.Recipe.ProductsInRecipe)
        </h5>
        <a asp-page="../ProductsInRecipes/Create" asp-route-id="@Model.Recipe.RecipeId">Add Ingredients</a>
        <br/>
        <form class="form-inline" method="post">
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control"/>
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Recipe.RecipeId"/>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <ul class="list-group">
            @if (Model.Recipe.ProductsInRecipe != null)
            {
                foreach (var ingredient in Model.Recipe.ProductsInRecipe)
                {
                    <li class="list-group-item">
                        @ingredient.ToString(Model.Servings, Model.Recipe.Servings)
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div>
    <a asp-page="./Delete" asp-route-id="@Model.Recipe.RecipeId">Delete</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
