@page
@using System.Security.Principal
@model MealPlanner.Pages_Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Recipes</h3>
<h4>@if (Model.UserName != null) { @Model.UserName }</h4>

<form class="form" method="get">
    <div class="row">
        <div class="col">
            <label asp-for="IncludeSearch" class="control-label"></label>
            <input asp-for="IncludeSearch" class="form-control">
            <span asp-validation-for="IncludeSearch" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="ExcludeSearch" class="control-label"></label>
            <input asp-for="ExcludeSearch" class="form-control">
            <span asp-validation-for="ExcludeSearch" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Servings" class="control-label"></label>
            <input asp-for="Servings" class="form-control">
            <span asp-validation-for="Servings" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Time" class="control-label"></label>
            <input asp-for="Time" class="form-control">
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="UserId"/>
        </div>
    <div >
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

 @if (!String.IsNullOrWhiteSpace(Model.IncludeSearch) || !String.IsNullOrWhiteSpace(Model.ExcludeSearch))
 {
     <p>Results:</p>
     @if (!String.IsNullOrWhiteSpace(Model.IncludeSearch))
     {
        <p>including "@Model.IncludeSearch"</p> 
     }
     @if (!String.IsNullOrWhiteSpace(Model.ExcludeSearch))
     {
         <p>excluding "@Model.ExcludeSearch"</p>
     }
     <p>Found @Model.Recipes.Count results</p>
 }

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].RecipeCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].TimeNeeded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeNeeded)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.RecipeId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}