﻿@page
@model MealPlanner.Pages_Recipes.Ingredient

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.ProductInRecipe[0].Recipe.Name</h1>

<p>
    <a asp-page="../ProductsInRecipes/Create" asp-route-id="@Model.ProductInRecipe[0].RecipeId">Add Ingredients</a>
</p>
<p>
    <a asp-page="./Details" asp-route-id="@Model.ProductInRecipe[0].RecipeId">Back to recipe</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductInRecipe[0].Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductInRecipe[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductInRecipe[0].Unit)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductInRecipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            <td>
                <a asp-page="../ProductsInRecipes/Edit" asp-route-id="@item.ProductInRecipeId">Edit</a> |
                <a asp-page="../ProductsInRecipes/Details" asp-route-id="@item.ProductInRecipeId">Details</a> |
                <a asp-page="../ProductsInRecipes/Delete" asp-route-id="@item.ProductInRecipeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

