﻿@page
@model WebApp.Pages.Game.DeleteSave

@{
    Layout = "Shared/_Layout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameSave.SaveName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameSave.SaveName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GameSave.GameSettingsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./SavedGames">Back to List</a>
    </form>
</div>
