﻿@page
@model WebApp.Pages.Game.SavedGames

@{
    Layout = "Shared/_Layout";
}

<h1>Saved games</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Saves[0].SaveName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saves[0].BoardHeight)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Saves[0].BoardWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saves[0].MineCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saves[0].GameOver)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Saves) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MineCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOver)
            </td>
            <td>
                <a asp-page="/Game/Play" asp-route-gameId="@item.GameSettingsId">Play</a> |
                <a asp-page="./DeleteSave" asp-route-id="@item.GameSettingsId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
