﻿@page
@using GameEngine
@model WebApp.Pages.Game.Play

@{
    Layout = "Shared/_Layout";
}

<form method="post">
    @if (@Model.Game.GameOver)
    {
        <h4>@Model.GetMessage()</h4>
    }
    <table>
        <thead>
        <tr>
            <th scope="col" style="text-align: center"></th>
            @for (var y = 0; y < Model.Game.BoardWidth; y++)
            {
                <th scope="col" style="text-align: center">@(y + 1)</th>
            }
        </tr>
        </thead>
        <tbody>
        @for (var y = 0; y < Model.Game.BoardHeight; y++)
        {
            <tr>
                <th scope="row">@(y + 1)</th>
                @for (var x = 0; x < Model.Game.BoardWidth; x++)
                {
                    var cell = Model.Board[y, x];
                    switch (cell.State)
                    {
                        case CellState.Hidden:
                            <td>
                                <button type="submit" class="btn btn-dark"
                                        asp-route-gameId="@Model.GameId"
                                        asp-route-cellY="@y"
                                        asp-route-cellX="@x"
                                        asp-route-flag="@Model.Flag">&nbsp;&nbsp;</button>

                            </td>
                            break;
                        case CellState.Flagged:
                            <td>
                                <button type="submit" class="btn btn-dark"
                                        asp-route-gameId="@Model.GameId"
                                        asp-route-cellY="@y"
                                        asp-route-cellX="@x"
                                        asp-route-flag="@Model.Flag">F</button>
                            </td>
                            break;
                        case CellState.Revealed:
                            <td>
                                @if (cell.IsMine)
                                {
                                    <button type="button" class="btn btn-danger" disabled>*</button>
                                }
                                else
                                {
                                    @if (cell.MinesAround! == 0)
                                    {
                                        <button type="button" class="btn btn-dark" disabled>&nbsp;&nbsp;</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-dark" disabled>
                                            @cell.MinesAround.ToString()
                                        </button>
                                    }
                                }
                            </td>
                            break;
                    }
                }
            </tr>
        }
        </tbody>
    </table>
    <hr/>
    <div class="form-check">
        <input type="radio" class="form-check-input" asp-for="@Model.Flag" value="@false" checked>
        <label class="form-check-label">Open</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" asp-for="@Model.Flag" value="@true">
        <label class="form-check-label">Flag</label>
    </div>
</form>



@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial"/>
}