﻿@page
@model WebApp.Pages.Game.StartCustomGame

@{
    Layout = "Shared/_Layout";
}

<h3>Start new custom game of Minesweeper</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label">Enter game name</label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardWidth" class="control-label">Enter board width</label>
                <input asp-for="BoardWidth" class="form-control" />
                <span asp-validation-for="BoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardHeight" class="control-label">Enter board height</label>
                <input asp-for="BoardHeight" class="form-control" />
                <span asp-validation-for="BoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MineAmount" class="control-label">Enter mine amount</label>
                <input asp-for="MineAmount" class="form-control" />
                <span asp-validation-for="MineAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Play" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial"/>
}