﻿@page
@model WebApp.Pages.Game.StartGame

@{
    Layout = "Shared/_Layout";
}

<h3>Start new game of Minesweeper</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label">Enter game name</label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDifficulty" class="control-label">Select game difficulty</label>
                <select class="custom-select" asp-for="GameDifficulty"
                        asp-items="Model.GameDifficultySelectList">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Play" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial"/>
}