@page
@model MealPlanner.Pages_ProductsInHand.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product In Hand</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Unit.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductInHand.ProductInHandId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
