@page
@model MealPlanner.Pages_ProductsInHand.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInHand.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInHand.Unit.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductInHand.ProductInHandId">Edit</a> |
    <a asp-page="../Users/Details" asp-route-id="@Model.ProductInHand.UserId">Back to List</a>
</div>
