@page
@model MealPlanner.Pages_ProductsInHand.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductInHand.ProductInHandId" />
            <div class="form-group">
                <label asp-for="ProductInHand.Amount" class="control-label"></label>
                <input asp-for="ProductInHand.Amount" class="form-control" />
                <span asp-validation-for="ProductInHand.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInHand.ProductId" class="control-label"></label>
                <select asp-for="ProductInHand.ProductId" class="form-control" asp-items="@Model.ProductSelectList"></select>
                <span asp-validation-for="ProductInHand.ProductId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProductInHand.UserId"  value="@Model.UserId"/>
            <div class="form-group">
                <label asp-for="ProductInHand.UnitId" class="control-label"></label>
                <select asp-for="ProductInHand.UnitId" class="form-control" asp-items="@Model.UnitSelectList"></select>
                <span asp-validation-for="ProductInHand.UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Users/Details" asp-route-id="@Model.ProductInHand.UserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
