﻿@page
@model MealPlanner.Pages_Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Products</h1>

<h3>@Html.DisplayFor(model => model.User.Name)</h3>

<p>
    <a asp-page="../ProductsInHand/Create" asp-route-userId="@Model.User.UserId">Add product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInHand[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInHand[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInHand[0].Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsInHand) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            <a asp-page="../ProductsInHand/Edit" asp-route-id="@item.ProductInHandId">Edit</a> |
            <a asp-page="../ProductsInHand/Details" asp-route-id="@item.ProductInHandId">Details</a> |
            <a asp-page="../ProductsInHand/Delete" asp-route-id="@item.ProductInHandId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
