@page
@model MealPlanner.Pages_ProductsInRecipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add ingredient to recipe @Model.Recipe.Name</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductInRecipe.RecipeId" value="@Model.RecipeId"/>
            <div class="form-group">
                <label asp-for="ProductInRecipe.ProductId" class="control-label"></label>
                <select asp-for="ProductInRecipe.ProductId" class ="form-control" asp-items="@Model.ProductSelectList"></select>
            </div>
            <a asp-page="../Products/Create">Create New Product</a>
            <div class="form-group">
                <label asp-for="ProductInRecipe.Amount" class="control-label"></label>
                <input asp-for="ProductInRecipe.Amount" class="form-control" />
                <span asp-validation-for="ProductInRecipe.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInRecipe.UnitId" class="control-label"></label>
                <select asp-for="ProductInRecipe.UnitId" class ="form-control" asp-items="@Model.UnitSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Recipes/Details" asp-route-id="@Model.RecipeId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
