@page
@model MealPlanner.Pages_ProductsInRecipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductInRecipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Unit.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductInRecipe.ProductInRecipeId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="../Recipes/Ingredient" asp-route-id="@Model.ProductInRecipe.RecipeId">Back to List</a>
    </form>
</div>
