@page
@model MealPlanner.Pages_ProductsInRecipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product In Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInRecipe.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInRecipe.Unit.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductInRecipe.ProductInRecipeId">Edit</a> |
    <a asp-page="../Recipes/Ingredient" asp-route-id="@Model.ProductInRecipe.RecipeId">Back to List</a>
</div>
