@page
@model MealPlanner.Pages_ProductsInRecipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductInRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductInRecipe.ProductInRecipeId" />
            <div class="form-group">
                <label asp-for="ProductInRecipe.ProductId" class="control-label"></label>
                <select asp-for="ProductInRecipe.ProductId" class="form-control" asp-items="@Model.ProductSelectList"></select>
                <span asp-validation-for="ProductInRecipe.ProductId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProductInRecipe.RecipeId"  value="@Model.RecipeId"/>
            <div class="form-group">
                <label asp-for="ProductInRecipe.Amount" class="control-label"></label>
                <input asp-for="ProductInRecipe.Amount" class="form-control" />
                <span asp-validation-for="ProductInRecipe.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInRecipe.UnitId" class="control-label"></label>
                <select asp-for="ProductInRecipe.UnitId" class="form-control" asp-items="@Model.UnitSelectList"></select>
                <span asp-validation-for="ProductInRecipe.UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Recipes/Ingredient" asp-route-id="@Model.ProductInRecipe.RecipeId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
