@page
@model MealPlanner.Pages_RecipeCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RecipeCategory.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RecipeCategory.Name)
        </dd>
    </dl>
</div>
<br/>
<div class="col">
    <h5>
        @Html.DisplayNameFor(model => model.RecipeCategory.Recipes)
    </h5>
    <a asp-page="/Recipes/Create">Add Recipe</a>
    <ul class="list-group">
        @if (Model.RecipeCategory.Recipes != null)
        {
            foreach (var recipe in Model.RecipeCategory.Recipes)
            {
                <li class="list-group-item">
                    @recipe.Name
                </li>
            } 
        }
    </ul>
</div>
<br>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RecipeCategory.RecipeCategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
